<div class="admin-sidebar-brand">
  <img class="admin-sidebar-brand-logo" src="/images/fw-logo.png" alt="" width="42" height="42" decoding="async">
  <div class="admin-sidebar-brand-text">Fantastyczne Wspinanie<br><span>Admin</span></div>
</div>
